node_modules/
**/node_modules/
**/.cache/
gatsbybrew/node_modules/
gatsbybrew/.cache/
gatsbybrew/public/
.git
.terraform
.vscode
.DS_Store
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d
examples/
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.egg-info
