@font-face {
  font-family: Annabelle;
  src: url("Annabelle-regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: Isadora;
  src: url("IsadoraStd-Regular.otf");
  font-display: swap;
}
