pytest==3.8.0
beautifulsoup4==4.6.3
path==13.1.0
slackclient==2.5.0
requests==2.21.0
requests_cache==0.5.2
toolz==0.9.0
fn==0.4.3
tinify==1.5.1
more-itertools==4.3.0
cachier==1.2.8
selenium==3.141.0
oauth2client==4.1.3
google-api-python-client==1.7.11
html2text
pyyaml
# numpy
# scipy
# matplotlib
# ipython
# jupyter
# pandas
# sympy
# nose
# jupyterlab
# statsmodels
boto3